/* -------------------------------------------------------------------------- */
/*                                 Typography                                 */
/* -------------------------------------------------------------------------- */

/* ----------------------------- Typography Base ---------------------------- */
body {
  font-family: $body-font;
  font-weight: 400;
  font-size: $default-font-size;
  color: $color-white;
}

/* --------------------------------- Headers -------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
.section-title,
.blockquote__title {
  font-family: $heading-font;
  line-height: 1;
  margin: 0.5em 0;
  font-weight: 500;
}
.article {
  h2 {
    margin-top: 1.1em;
    margin-bottom: 0.4em;
  }
  h3 {
    margin-top: 0.8em;
    margin-bottom: 0.3em;
  }
  h4 {
    margin-top: 0.8em;
    margin-bottom: 0.3em;
  }
  h5 {
    margin-top: 0.8em;
    margin-bottom: 0.2em;
  }
}
h2 {
  font-size: 3.8em;
  @include for-mobile-only {
    font-size: 2.4em;
  }
}
h3 {
  font-size: 2.4em;
  @include for-mobile-only {
    font-size: 2em;
  }
}
h4 {
  font-size: 2em;
  @include for-mobile-only {
    font-size: 1.8em;
  }
}
h5 {
  font-size: 1.8em;
}
.section-title {
  text-transform: uppercase;
}
.blockquote__title,
.codeblock__title {
  margin-bottom: 0.25rem;
  margin-left: 1.5rem;
  margin-top: 1em;
  font-weight: 500;
}

/* ------------------ Anchor Link to Heading (Hugo Content) ----------------- */
.heading {
  display: flex;
  align-items: center;
  gap: 0.4em;
  a {
    img {
      height: 0.75em;
    }
    opacity: 0;
    transition: opacity $t-med;
  }
  &:hover {
    a {
      opacity: 1;
    }
  }
}

/* ------------------------------ Block Quotes ------------------------------ */
.blockquote__title {
  font-family: $heading-font;
  font-size: 1.8em;
}

/* ---------------------------------- Code ---------------------------------- */
code,
.codeblock__title {
  font-family: $mono-font;
  font-size: 1.6rem;
}
code {
  font-weight: 300;
}
p,
li {
  code {
    color: darken($color-blue-bright, 5%);
  }
}
.codeblock__title {
  color: $color-primary-highlight;
  @include for-mobile-only {
    margin-bottom: 0.1em;
    margin-left: 0.25em;
  }
}

/* ------------------------------- Block Text ------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  p {
    margin-top: 1em;
  }
}
p {
  font-size: 1.6em;
  line-height: 1.4;
  margin: 0.5em 0;
}
p + p {
  margin-top: 0.65em;
}

/* ----------------------------- Section Titles ----------------------------- */
.section-title {
  position: relative;
  font-size: 1.2rem;
  margin-top: $base-pad-hz;
  @include for-laptop-down {
    font-size: 0.8rem;
  }
  @include for-tablet-portrait-down {
    margin: 0 auto;
    margin-top: $base-pad-hz / 2;
    margin-bottom: $base-pad-hz / 6;
    margin-bottom: 0;
  }
  @include for-mobile-only {
    max-width: 70%;
    font-size: 0.5rem;
    text-align: center;
  }

  &__text {
    font-size: 6.5em;
  }

  .halftone {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 9rem;
    top: 50%;
    left: -4rem;
    transform: translateY(-50%);
  }
}

/* ----------------------- Vertical Bar Beside Textbox ---------------------- */

.with-textbar--left {
  &::after {
    position: absolute;
    top: 0;
    content: '';
    border-left: $textbox-bar-width solid $color-primary;
    width: 100%;
    height: 100%;
    left: 1rem;
  }
}

.with-textbar--right {
  &::after {
    position: absolute;
    top: 0;
    content: '';
    border-left: $textbox-bar-width solid $color-primary;
    width: 100%;
    height: 100%;
    left: 102%;
  }
}

/* ---------------------- Links With Animated Underline --------------------- */
@mixin is-link-with-animated-underline($color, $underline_w, $underline_dY) {
  position: relative;
  &:before {
    // horizontal animated rule under anchor text
    z-index: -1;
    content: '';
    position: absolute;
    bottom: -$underline_dY;
    left: 0;
    background-color: $color;
    height: 2px;
    width: 0%;
    transition: width $t-fast ease-out;
  }
  &:hover,
  &:active {
    &:before {
      width: $underline_w;
    }
  }
  &:active {
    @include transform-button-down;
  }
}
