<footer class="footer">
  <div class="footer__title">
    <div class="navbar__logo-text">
      Stacy <span class="navbar__logo-text__last-name">Gaudreau</span>
    </div>
    <div class="footer__tagline">Software & Systems Developer</div>
  </div>
  <div class="navbar__nav-group">
    <div class="navbar__nav-item">
      <a href="#projects">Projects</a>
    </div>
    <div class="navbar__nav-item">
      <a href="#skills">Skills</a>
    </div>
    <div class="navbar__nav-item">
      <a href="#contact">Contact</a>
    </div>
  </div>
  <div class="contact__links">
    {{ with .Site.Params.contactEmail }}
    <a href="mailto:{{ . }}" class="btn btn--text-icon btn--small"
      ><img src="/img/i-email.svg" alt="Email" /> Email Me</a
    >
    {{ end }} {{ with .Site.Params.linkedinUrl }}
    <a href="{{ . }}" class="btn btn--text-icon btn--small"
      ><img src="/img/i-linkedin.svg" alt="LinkedIn" />My Profile</a
    >
    {{ end }}
  </div>
  <div class="span footer__copy" id="footer-copy">&copy{{ now.Year }} Stacy Gaudreau</div>
</footer>
