<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{ partial "meta.html" }}
  <title>{{ .Title }} | Stacy Gaudreau</title>
  {{ partial "stylesheets.html" }}
</head>
