/* -------------------------------------------------------------------------- */
/*                               Single Article                               */
/* -------------------------------------------------------------------------- */

.article {
  $p-top: 6rem;
  $p-top-mobile: $p-top / 4;
  $m-right: 3rem;
  $col-w: 70%;
  font-size: 1rem;

  &__content,
  &__header-content,
  &__intro {
    margin: 0 auto;
    max-width: $article-max-width;
    @include has-expanding-hz-padding;
  }

  &__intro {
    margin-top: $p-top;
    @include for-mobile-only {
      margin-top: $p-top-mobile;
    }
  }

  &__bg {
    z-index: -1;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    display: block;
    background: url('../img/bg-1920x1200.jpg') no-repeat center fixed;
    background-size: cover;
    opacity: 0.1;
    height: 70%;
    @include for-tablet-portrait-down {
      height: 75%;
    }
  }

  &__header {
    position: relative;
    font-size: 1em;
    padding-top: #{$navbar-height + $p-top};
    @include for-mobile-only {
      padding-top: #{$navbar-height + $p-top-mobile};
    }

    h1 {
      letter-spacing: -0.5px;
      font-size: 5em;
      font-weight: 500;
      margin: 0.6em 0;
      line-height: 1;
      @include for-tablet-portrait-down {
        font-size: 4.2em;
      }
      @include for-mobile-only {
        font-size: 2.8em;
      }
    }

    p {
      font-weight: 300;
      font-size: 2.4em;
      width: $col-w;
      padding-right: $m-right;
      @include for-tablet-portrait-down {
        padding-right: $m-right / 2;
        width: 90%;
        font-size: 2.2em;
      }
      @include for-mobile-only {
        font-size: 1.6em;
        padding-right: $m-right / 3;
      }
      line-height: 1.125;
    }
  }

  &__graphics {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-width: $screen-max-width;
    .halftone {
      position: absolute;
      &:nth-of-type(1) {
        $start_at: 65%;
        top: 0;
        left: $start_at;
        width: 100% - $start_at;
        height: 85%;
      }
      &:nth-of-type(2) {
        top: 80%;
        width: 40%;
        height: 22%;
        left: 0;
        opacity: 0.6;
      }
    }
  }

  &__categories,
  &__meta--tags,
  &__meta--date {
    font-size: 1.8em;
    color: $color-blue-bright;
    font-family: $heading-font;
    @include for-mobile-only {
      font-size: 1.4em;
    }
  }

  &__categories,
  &__meta--tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 70%;
  }

  &__category {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    &:not(:last-child) {
      &::after {
        color: $color-white;
        content: '/';
        margin-left: 1rem;
      }
    }
  }

  &__meta {
    margin-top: 3em;
    margin-bottom: $p-top;
    width: $col-w;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-tablet-landscape-down {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1.5em;
      &--tags {
        order: 1;
        max-width: 100%;
      }
    }
    @include for-tablet-portrait-down {
      width: 90%;
    }
    @include for-mobile-only {
      width: 100%;
      margin-bottom: $p-top-mobile * 2;
      margin-top: 1.5em;
    }
    &--date {
      margin-right: $m-right;
    }
  }

  &__image {
    &--main {
      img {
        width: 100%;
      }
    }
  }

  // article links (inline)
  p,
  ul,
  ol {
    a {
      color: $color-green-highlight;
      @include is-link-with-animated-underline($color-green-dark, 100%, 2px);
    }
  }

  /* ---------------------------------- Lists --------------------------------- */
  ul,
  ol {
    font-size: 1.6rem;
    margin: 0.7em 0;
    margin-left: 3em;
    @include for-mobile-only {
      margin-left: 1.8em;
    }
    li {
      margin: 0.15em 0;
    }
  }

  .video {
    margin: 3rem auto;
    @include is-bordered-pane;
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    width: 100%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
    @include for-tablet-portrait-down {
      margin: 2rem auto;
    }
  }
}
