{{ define "main" }}
<main class="article">
  <!-- Header -->
  <header class="article__header">
    <div class="article__bg"></div>
    <div class="article__graphics">
      <div class="halftone halftone--wide"></div>
      <div class="halftone halftone--wide"></div>
    </div>
    <div class="article__header-content">
      <div class="article__categories">
        {{ if eq .Type "blog" }} 
          {{ range .Params.Categories }}
            <a href="" class="article__category">{{.}}</a>
          {{ end }} 
        {{ end }}
        {{ if eq .Type "project" }}
          <span class="article__category">{{ .Params.projectType }}</span>
        {{ end }}
      </div>
      <h1>{{ .Title }}</h1>
      <p>{{ .Description }}</p>
      <div class="article__meta">
        <div class="article__meta--tags">
          {{ if eq .Type "blog" }}
            {{ range .Params.Tags }}
              <span class="info-tag info-tag--meta">{{.}}</span>
            {{ end }}
          {{ end }}
          {{ if eq .Type "project" }}
            {{ range .Params.stack }}
              <span class="info-tag info-tag--meta">{{.}}</span>

            {{ end }}
          {{ end }}
        </div>
        <span class="article__meta--date">
          {{ if eq .Type "blog" }} 
            {{ .Date | time.Format ":date_long" }}
          {{ end }}
          {{ if eq .Type "project" }}
            {{ if .Params.isWorkInProgress }}
              Work in Progress
            {{ end }}
          {{ end }}
        </span>
      </div>
      <!-- Main Feature Image -->
      {{ with .Resources.GetMatch "images/feature.*" }}
      <div class="article__image--main pane pane--has-image">
        <img src="{{.RelPermalink}}" alt="" />
        <div class="pane__shadow pane__shadow--corner-t-l"></div>
        <div class="pane__shadow pane__shadow--corner-t-l"></div>
      </div>
      {{ end }}
    </div>
  </header>
  <section class="article__intro">
    {{ with .Resources.GetMatch "intro.md" }} {{ .Content }} {{ end }}
    <section class="toc toc--is-closed pane">
      <header>
        <a class="btn btn--text-icon btn--small">
          <img src="/img/i-caret-down.svg" alt="LinkedIn" />Table of Contents
        </a>
      </header>
      {{ .TableOfContents }}
      <div class="pane__shadow pane__shadow--corner-t-l"></div>
      <div class="pane__shadow pane__shadow--corner-t-l"></div>
    </section>
  </section>
  <section class="article__content">
    <!-- Content -->
    {{ .Content }}
  </section>
</main>
{{ end }}
