/* ----------------------- Rectangular Pane Containers ---------------------- */

@mixin is-bordered-pane {
  position: relative;
  border: $pane-border-w solid $pane-border;
  background-color: $pane-bg;
}

@mixin has-pane-padding {
  padding: 2.5em;
  @include for-tablet-portrait-down {
    padding: 1.5em;
  }
}

.pane {
  font-size: 1rem;
  @include is-bordered-pane;
  @include has-pane-padding;

  p {
    // only margin between adjacent <p>
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__wrapper {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }

  &--has-image {
    padding: 0;
    line-height: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    line-height: 0.5;
    font-size: 4rem;
    letter-spacing: 1px;
    font-weight: 500;

    &--for-project {
      @include is-link-with-animated-underline($color-green-dark, 85%, 5px);
      position: relative;
      align-self: flex-start;
      a {
        &:after {
          @include is-svg-content-resizeable-as-bg('/img/i-link-ext.svg');
          width: 0.6em;
          height: 0.6em;
          margin-left: 0.4em;
        }
      }
      @include for-tablet-portrait-down {
        align-self: center;
      }
    }

    @include for-mobile-only {
      font-size: 3rem;
    }
  }

  &__shadow {
    // a shadow/repetition effect behind the pane
    // 1st shadow pane
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @mixin shadow-layer($n, $x_dir, $y_dir) {
      z-index: -$n;
      transform: translate(
        $x_dir * $pane-delta * $n,
        $y_dir * $pane-delta * $n
      );
      background-color: darken($pane-bg, $pane-delta-b * $n);
      border: $pane-border-w solid darken($pane-border, $pane-delta-b * 6 * $n);
    }
    @mixin shadow-layer-stack($x_dir, $y_dir) {
      &:nth-of-type(1) {
        @include shadow-layer(1, $x_dir, $y_dir);
      }
      &:nth-of-type(2) {
        @include shadow-layer(2, $x_dir, $y_dir);
      }
      &:nth-of-type(3) {
        @include shadow-layer(3, $x_dir, $y_dir);
      }
    }
    &--corner-b-r {
      @include shadow-layer-stack(1, 1);
    }
    &--corner-b-l {
      @include shadow-layer-stack(-1, 1);
    }
    &--corner-t-l {
      @include shadow-layer-stack(-1, -1);
    }
    &--corner-t-r {
      @include shadow-layer-stack(1, -1);
    }
  }
}

/* --------------------- Blockquote and Pre(Code) Panes --------------------- */
blockquote,
pre {
  @include is-bordered-pane;
  @include has-pane-padding;
  p {
    margin: 0.5em 0;
  }
  p:first-of-type {
    margin-top: 0;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
  p:only-of-type {
    margin: 0;
  }
  margin-bottom: 2em;
}

pre {
  @include for-mobile-only {
    overflow-x: scroll;
    @include disable-scrollbars;
  }
}
